# Jupyter Notebook environment
ipykernel>=6.25.0
jupyter>=1.0.0

# Data manipulation and numerical computation
pandas>=1.3.0
numpy>=1.21.0

# Data retrieval
yfinance>=0.2.54
lxml>=4.6.0

# Machine learning, clustering, and hierarchical clustering
scikit-learn>=0.24.0
scipy>=1.5.0

# Dimensionality reduction
umap-learn>=0.5.3

# SBERT for generating embeddings
sentence-transformers>=2.2.2
torch>=2.0.0

# Visualization
matplotlib>=3.4.0
seaborn>=0.11.0

# Text preprocessing
nltk>=3.5
spacy>=3.0.0
